[Desktop Entry]
Name=Nepomuk Services Engine
Name[da]=Motor til Nepomuk-tjenester
Name[es]=Motor de servicios de Nepomuk
Name[et]=Nepomuki teenuste mootor
Name[fr]=Moteur pour les services Nepomuk
Name[km]=ម៉ាស៊ីន​សេវាកម្ម Nepomuk
Name[nb]=Nepomuk tjenestemotor
Name[nl]=Engine van Nepomuk-services
Name[pl]=Silnik usług Nepomuk
Name[pt]=Motor de Serviços do Nepomuk
Name[pt_BR]=Motor dos serviços do Nepomuk
Name[sv]=Nepomuk tjänstgränssnitt
Name[uk]=Рушій служб Nepomuk
Name[x-test]=xxNepomuk Services Enginexx
Comment=Engine that feeds statuses of all Nepomuk services
Comment[da]=Motor der føder status for alle Nepomuk-tjenester
Comment[es]=Motor que alimenta los estados de todos los servicios de Nepomuk
Comment[et]=Kõigi Nepomuki teenuste olekuid toitev mootor
Comment[fr]=Moteur affichant l'état de tous les services Nepomuk
Comment[km]=ម៉ាស៊ីនដែល​ស្ថានភាព​មតិព័ត៌មាន​​របស់​សេវាកម្ម Nepomuk ទាំង​អស់
Comment[nb]=Motor som skaffer status for alle Nepomuk-tjenester
Comment[nl]=Engine die alle Nepomuk-services van status voorziet
Comment[pl]=Silnik, który dostarcza stany wszystkich usług Nepomuk
Comment[pt]=Um motor que recolhe os estados de todos os serviços do Nepomuk
Comment[pt_BR]=Motor que alimenta o estado de todos os serviços do Nepomuk
Comment[sv]=Gränssnitt som skickar vidare status för alla Nepomuk-tjänster
Comment[uk]=Рушій отримання даних щодо всіх служб Nepomuk
Comment[x-test]=xxEngine that feeds statuses of all Nepomuk servicesxx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_nepomuk
X-Plasma-EngineName=nepomuk
X-KDE-PluginInfo-Author=Serebriyskiy Artem
X-KDE-PluginInfo-Name=nepomuk
X-KDE-PluginInfo-Email=v.for.vandal@gmail.com
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
