[Desktop Entry]
Name=Nepomuk Services Engine
Name[pt_BR]=Motor dos serviços do Nepomuk
Name[sv]=Nepomuk tjänstgränssnitt
Name[uk]=Рушій служб Nepomuk
Name[x-test]=xxNepomuk Services Enginexx
Comment=Engine that feeds statuses of all Nepomuk services
Comment[pt_BR]=Motor que alimenta o estado de todos os serviços do Nepomuk
Comment[sv]=Gränssnitt som skickar vidare status för alla Nepomuk-tjänster
Comment[uk]=Рушій отримання даних щодо всіх служб Nepomuk
Comment[x-test]=xxEngine that feeds statuses of all Nepomuk servicesxx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_nepomuk
X-Plasma-EngineName=nepomuk
X-KDE-PluginInfo-Author=Serebriyskiy Artem
X-KDE-PluginInfo-Name=nepomuk
X-KDE-PluginInfo-Email=v.for.vandal@gmail.com
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
