[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukSystray/Plugin
X-KDE-Library=nepomuksystray_nepomukbackupsync
X-KDE-PluginInfo-Name=Backup and Sync
Name=Backup and Sync system tray plugin
Name[da]=Statusområde-plugin til backup og synkronisering
Name[es]=Complemento de la bandeja del sistema para copias de respaldo y sincronización
Name[et]=Varundamise ja sünkroonimise süsteemisalve plugin
Name[fr]=Module externe de sauvegarde et de synchronisation pour la boîte à miniatures
Name[nb]=Programtillegg for sikkerhetskopi og synkronisering i systemkurven
Name[nl]=Plugin voor systeemvak van Reservekopie maken en Systeem synchroniseren
Name[pl]=Wtyczka tacki systemowej kopi zapasowej i synchronizacji
Name[pt]='Plugin' da bandeja do sistema para a salvaguarda e sincronização
Name[pt_BR]=Plug-in da área de notificação para realizar cópia de segurança e sincronização
Name[sv]=Insticksprogram för systembrickan med säkerhetskopiering och synkronisering
Name[uk]=Додаток резервного копіювання та синхронізації для системного лотка
Name[x-test]=xxBackup and Sync system tray pluginxx


