<?xml version="1.0" encoding="UTF-8"?>
<gui name="systraynepomukbackupsyncplugin"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
 
    <Menu name="trayMenu" >
        <Action name="backup"/>
    </Menu>
    <Menu name="nepomukbackupsync_actions">
        <Action name="backup" />
        <Action name="startStop" />
    </Menu>
</gui>

