[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=NepomukSystray/Plugin
Name=Nepomuk System Tray Plugin
Name[x-test]=xxNepomuk System Tray Pluginxx

[PropertyDef::X-KDE-PluginInfo-Name]
Type=QString


