[Desktop Entry]
Name=Nepomuk Services Controller
Comment=System tray icon to control the behaviour of the Nepomuk services
Icon=nepomuk
Exec=nepomukcontroller
Type=Application
Categories=Qt;KDE;
X-DBUS-StartupType=Unique
