[Desktop Entry]
Name=Nepomuk Services Controller
Comment=System tray icon to control the behavior of the Nepomuk services
Icon=nepomuk
Exec=nepomuksystray_qt
Type=Application
Categories=Qt;KDE;Utility;Monitor;
X-DBUS-StartupType=Unique
