[Desktop Entry]
Name=Nepomuk Services Controller
Name[bs]=Kontroler Nepomuk servica
Name[da]=Styring af Nepomuk-tjenester
Name[de]=Steuerprogramm für Nepomuk-Dienste
Name[en_GB]=Nepomuk Services Controller
Name[es]=Controlador de servicios de Nepomuk
Name[et]=Nepomuki teenuste kontroller
Name[fr]=Contrôleur de services Nepomuk
Name[nb]=Nepomuks kontrollprosess for tjenester
Name[nl]=Besturing van Nepomuk-services
Name[pt]=Controlador dos Serviços do Nepomuk
Name[pt_BR]=Controlador dos serviços do Nepomuk
Name[sv]=Nepomuk tjänststyrning
Name[uk]=Керування службами Nepomuk
Name[x-test]=xxNepomuk Services Controllerxx
Name[zh_TW]=Nepomuk 服務控制器
Comment=System tray icon to control the behavior of the Nepomuk services
Comment[bs]=Ikona u sistemskom uglu koja kontroliše ponašanje Nepomuk servisa
Comment[da]=Statusikon til at kontrollere Nepomuk-tjenesters opførsel
Comment[en_GB]=System tray icon to control the behaviour of the Nepomuk services
Comment[es]=Icono de la bandeja del sistema para controlar el comportamiento de los servicios de Nepomuk
Comment[et]=Süsteemisalve ikoon Nepomuki teenuste käitumise juhtimiseks
Comment[fr]=Icône de la boîte à miniatures pour contrôler le comportement des services Nepomuk
Comment[nb]=Systemkurvikon for kontroll med adferden til Nepomuks tjenster
Comment[nl]=Systeemvakpictogram voor de besturing van het gedrag van de Nepomuk-services
Comment[pt]=Ícone da bandeja do sistema para controlar o comportamento dos serviços do Nepomuk
Comment[pt_BR]=Ícone da área de notificação para controlar o comportamento dos serviços do Nepomuk
Comment[sv]=Ikon i systembrickan för att styra beteendet hos Nepomuk-tjänster
Comment[uk]=Піктограма системного лотка для керування поведінкою служб Nepomuk
Comment[x-test]=xxSystem tray icon to control the behavior of the Nepomuk servicesxx
Comment[zh_TW]=控制 Nepomuk 服務行為的系統匣圖示
Icon=nepomuk
Exec=nepomukcontroller
Type=Application
Categories=Qt;KDE;Utility;Monitor;
X-DBUS-StartupType=Unique
