[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukSystray/Plugin
X-KDE-Library=nepomuksystray_strigi
X-KDE-PluginInfo-Name=strigi_basic
Name=Strigi system tray plugin
Name[bs]=Priključak u sistemskom uglu za Strigi
Name[cs]=Modul Strigi do systémové části panelu
Name[da]=Statusområde-plugin til Strigi
Name[en_GB]=Strigi system tray plugin
Name[es]=Complemento de la bandeja del sistema para Strigi
Name[et]=Strigi süsteemisalve plugin
Name[fr]=Module externe système Strigi pour la boîte à miniatures
Name[nb]=Programtillegg for Strigi i systemkurven
Name[nds]=Strigi-Systemafsnittmoduul
Name[nl]=Plugin voor systeemvak van Strigi
Name[pt]='Plugin' da bandeja do sistema para o Strigi
Name[pt_BR]=Plug-in da área de notificação para o Strigi
Name[sv]=Strigi insticksprogram för systembrickan
Name[uk]=Додаток системного лотка Strigi
Name[x-test]=xxStrigi system tray pluginxx
Name[zh_TW]=Strigi 系統匣外掛程式
Comment=Plugin for the Nepomuk system tray that controls the Strigi service
Comment[bs]=Priključak u sistemskom uglu za Nepomuk koji kontroliše Strigi servis
Comment[cs]=Modul pro Nepomuk do systémové části panelu, který ovládá službu Strigi
Comment[da]=Plugin til Nepomuk-statusikonet som kontrollerer tjenesten Strigi
Comment[en_GB]=Plugin for the Nepomuk system tray that controls the Strigi service
Comment[es]=Complemento de la bandeja del sistema para Nepomuk que controla el servicio de Strigi
Comment[et]=Nepomuki süsteemisalve plugin, mis kontrollib Strigi teenust
Comment[fr]=Module externe Nepomuk pour la boîte à miniatures qui contrôle le service Strigi
Comment[nb]=Programtillegg for Nepomuks kontroll med Strigitjenesten i systemkurven
Comment[nl]=Plugin voor systeemvak van Nepomuk die de Strigi-service bestuurt
Comment[pt]='Plugin' da bandeja do Nepomuk para controlar o serviço do Strigi
Comment[pt_BR]=Plug-in da área de notificação para controlar o serviço do Strigi
Comment[sv]=Insticksprogram för Nepomuks systembricka som styr Strigi-tjänsten
Comment[uk]=Додаток до піктограми системного лотка Nepomuk для керування службою Strigi
Comment[x-test]=xxPlugin for the Nepomuk system tray that controls the Strigi servicexx
Comment[zh_TW]=控制 Strigi 服務的 Nepomuk 系統匣外掛程式


